.app-container {
  /* font sizes, following https://www.modularscale.com/?16&px&1.2  */
  --inline-title-size: 2.074em;
  --h1-size: 1.728rem;
  --h2-size: 1.44rem;
  --h3-size: 1.2rem;
  --h4-size: 1rem;
  --h5-size: 1rem;
  --h6-size: 1rem;
  
  /* font weights */
  --inline-title-weight: 700;
  --h1-weight: 700;
  --h2-weight: 700;
  --bold-weight: 700;

  /* margins */
  --inline-title-margin-bottom: 1rem;
  --heading-spacing: 0.75em;
  --heading-spacing-bottom: 0.5em;
  --p-spacing: 1rem;
  --list-spacing: 0.15em;
}

ol, ul {
  margin-top: 0 !important;
}

/* improved heading margins in the editor and the reader mode */
/* the !important is unfortunately hard to avoid */
h1, h2, h3, h4, h5,h6,
.markdown-source-view.mod-cm6 .cm-content > .HyperMD-header { 
    margin-top: var(--heading-spacing) !important;   
    margin-bottom: var(--heading-spacing-bottom) !important;
}

.markdown-source-view.mod-cm6 .cm-content > .HyperMD-header {
  margin-top: var(--heading-spacing) !important;
}

.markdown-source-view.mod-cm6 .cm-content > .HyperMD-header:first-of-type {
    margin-top: 0 !important;
}

.cm-s-obsidian .cm-line.HyperMD-header {
  padding-top: 0.5rem;
}


