QTabBar,
QTabBar:tab {
    background-color: #222339;
    font-size: 18px;
}

QTabBar::tab {
    color: #f1eff8;
    margin-left: 16px;
    margin-right: 10px;
    font-size: 14px;
    text-transform: uppercase;
}

QTabBar::tab:first {
   margin-left: 8px;
}

QTabBar::tab:selected {
    color: #26c6da;
}

QTabWidget::pane,
QTabWidget::tab-bar {
    background-color: #222339;
}
