QTabBar,
QTabBar::tab {
  background-color: #100b16;
  font-family: "Jetbrains Mono", sans-serif;
  font-size: 16px;
  letter-spacing: -0.5px;
}

QTabBar::tab {
  color: #ddd;
  margin-left: 10px;
  margin-right: 16px;
  padding: 0.25em 0;
}

QTabBar::tab:selected {
  color: #9f9fef;
}

QTabWidget::pane,
QTabWidget::tab-bar {
  background-color: #100b16;
}


