[Desktop Entry]
Type=Action
Name=Search for files
Name[de]=Nach Dateien suchen
Icon=search
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Exec=/usr/bin/catfish %F
Name=Default profile
